
@import url('https://fonts.googleapis.com/css?family=Roboto+Mono:300,400,500,700');


body {
    color: #999999;
    font-size: 14px;
    font-family: 'Roboto Mono', monospace;
    line-height: 1.80857;
   
    
}

html, body {
	height: 100%;
}
#home {
  background:url(../个人主页/img/about2.jpg);
}
h1,
h3
 {
    letter-spacing: 0;
    font-weight: normal;
    position: relative;
    padding: 0 ;
    font-weight: normal;
    line-height: 120% !important;
    color: #333333;
    margin: 0
    
}

h1 {
    font-size: 24px
}

h3 {
    font-size: 18px
}

h1 a,
h3 a
{
    color: #212121;
    text-decoration: none!important;
    opacity: 1
}

h1 a:hover,
h3 a:hover
{
    opacity: .8
}

a {
    color: #222222;
    text-decoration: none;
    outline: none;
}

a
{
    text-decoration: none !important;
    outline: none !important;
    -webkit-transition: all .3s ease-in-out;
    -moz-transition: all .3s ease-in-out;
    -ms-transition: all .3s ease-in-out;
    -o-transition: all .3s ease-in-out;
    transition: all .3s ease-in-out;
}

.main-banner{
	height: 100%;
	position: relative;
    display: table;
    width: 100%;
	text-align: center;
}

.main-banner::after {
    content: " ";
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    background-color: #000;
    z-index: 0;
    opacity: .6;
}
.heading{
	color: #fff;
	display: table-cell;
	vertical-align: middle;
	position: relative;
	z-index: 1;
}
.heading h1{
	color: #ffffff;
	font-weight: 700;
	font-size: 62px;
	text-transform: uppercase;
}
.heading p{
	font-size: 18px;
	
}

.heading h3{
	color: ffffff;
}

.cd-words-wrapper {
  display: inline-block;
  position: relative;
  text-align: left;
}
.cd-words-wrapper b {
  display: inline-block;
  position: absolute;
  white-space: nowrap;
  left: 0;
  top: 0;
}
.cd-words-wrapper b.is-visible {
  position: relative;
}
.no-js .cd-words-wrapper b {
  opacity: 0;
}
.no-js .cd-words-wrapper b.is-visible {
  opacity: 1;
}
a {
  color: #fff;
  font-size: 15px;
}
/* -------------------------------- 

xclip 

-------------------------------- */
.cd-headline.clip span {
  display: inline-block;
  padding: .2em 0;
  color: #ffffff;
  font-size: 30px;
}
.cd-headline.clip span b{
	text-transform: uppercase;
}
.cd-headline.clip .cd-words-wrapper {
  overflow: hidden;
  vertical-align: top;
}
.cd-headline.clip .cd-words-wrapper::after {
  /* line */
  content: '';
  position: absolute;
  top: 0;
  right: 0;
  width: 2px;
  height: 100%;
  background-color: #aebcb9;
}
.cd-headline.clip b {
  opacity: 0;
}
.cd-headline.clip b.is-visible {
  opacity: 1;
}


#clouds{
	margin-top: -5%;
	position: relative;
	z-index: 1;
}
#clouds path {
    fill: #ffffff;
    bottom: -10px;
    overflow: hidden;
    stroke: #ffffff;
}
